@media screen and (max-width: 760px){
    header {
        flex-direction: column;
        margin: auto;
    }

    main {
        flex-direction: column;
    }

    h2 {
        font-size: 30px;
        text-align: center;
    }

    p {
        text-align: center;
        margin: auto;
    }

    form {
        margin: 0 auto;
    }

    input {
        align-self: center;
        width: 100%;
    }

    img {
        margin: 40px auto;
        width: 100%;

    }

    ul {
        text-align: center;
        margin: auto;
    }
}